/* הלייאאוט הראשי */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e91e63;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}

.nav-link:hover {
  color: #ffefd5;
}

.user-greeting {
  color: #fff;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 15px;
  border-radius: 20px;
}

/* תוכן הדף */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content-wrapper {
  flex: 1;
  width: 100%;
  background: linear-gradient(to bottom right, #ffe4e1, #ffb6c1);
  display: flex;
  flex-direction: column;
  overflow: auto;
}