.addproduct-container {
 flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100vw;

  h1 {
    font-size: 32px;
    color: #c94c4c;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    color: #333;
  }

  form {
    margin-top: 20px;

    input, textarea, select {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 6px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    button {
      background-color: #c94c4c;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 600;
      transition: 0.3s;

      &:hover {
        background-color: #ff8c94;
      }
    }
  }

  .success {
    color: green;
    font-weight: bold;
  }

  .error {
    color: red;
    font-weight: bold;
  }
}
